{% extends 'base.html.twig' %}

{% block title %} - Reserva{% endblock %}

{% block body %}
	<main>
		{% if app.user %}
			<h1>Hola
				{{ app.user.name }}
			</h1>

			<section>
				{% if reservas %}
					<section class="flex-center">
						<h4>Ya tienes reservas hechas</h4>
						<a class="btn" href="{{ path('app_mis_reservas') }}">Ver  mis reservas</a>
					</section>
						<h4 style="text-align: center;">Haz una nueva reserva</h4>
				{% else %}
					<h3>Reserva ahora tu mesa</h3>
				{% endif %}
				{{ form_start(form) }}
				{{ form_row(form.fecha) }}
				{{ form_row(form.hora) }}
				{{ form_row(form.comensales) }}
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</section>


		{% else %}
			<section class="reserva-not-logged">
				<h1>Casi listo para tu reserva</h1>
				<p>Para garantizar la seguridad de tu cita y gestionar tus servicios, necesitamos identificarte.</p>
				<div>
					<a class="btn" href="{{ path('app_login', {'_target_path': app.request.uri}) }}">
						<strong>Iniciar Sesión</strong>
					</a>
					<span>o</span>
					<a class="btn" href="{{ path('app_register') }}">
						<strong>Crea una cuenta nueva</strong>
					</a>
				</div>
				<div>
					<p>Al estar registrado podrás:</p>
					<small>Gestionar y cancelar tus citas</small>
					<small>Recibir recordatorios automáticos</small>
				</div>
			</section>
		{% endif %}
	</main>
{% endblock %}
