{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1>Mis Reservas</h1>

		{% for message in app.flashes('success') %}
			<p class="alert alert-success">
				{{ message }}
			</p>
		{% endfor %}

		{% if reservas is empty %}
			<section class="reservas-list-no-reservas">
				<p>No tienes ninguna reserva todavía.</p>
				<a class="btn" href="{{ path('app_reserva') }}" class="btn btn-primary">
					Hacer una Reserva
				</a>
			</section>
		{% else %}
			<section>
				<table class="center-table">
					<tr>
						<th>Reserva</th>
						<th>Comensales</th>
						<th>Cancelar</th>
					</tr>
					{% for reserva in reservas %}
						<tr>
							<td>
								{{ reserva.fecha | format_datetime(pattern="EEEE", locale="es") }}
								{{ reserva.fecha | date('d/m/Y') }}
								{{ reserva.fecha | date('H:i') }}
							</td>
							<td>
								{{ reserva.comensales }}
							</td>
							<td>
								{{ include('/reserva/_delete_form.html.twig') }}
							</td>
						</tr>
					{% endfor %}
				</table>
				<a class="btn center-link" href="{{ path('app_reserva') }}">Hacer una nueva reserva</a>
			</section>
		{% endif %}
	</div>
</main>{% endblock %}
