{% extends 'base.html.twig' %}

{% block title %}Carta index
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Lista de Productos</h1>
			<a class="btn center-link" href="{{ path('app_admin_carta_new') }}">
				Añadir nuevo producto
			</a>
			<br>

			{% if cartas %}
				<table>
					<thead>
						<tr>
							<th>
								Nombre
							</th>
							<th>
								Acciones
							</th>
						</tr>
					</thead>
					<tbody>
						{% for producto in cartas %}
							<tr>
								<td>
									{{ producto.nombre }}
								</td>
								<td>
									<a class='emoji' href="{{ path('app_admin_carta_show', {'id': producto.id}) }}">🔍</a>
									<a class='emoji' href="{{ path('app_admin_carta_edit', {'id': producto.id}) }}">✏️</a>
									{{ include('admin_carta/_delete_form.html.twig', {'carta': producto}) }}

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			{% else %}
				<p>No hay productos en la base de datos</p>
			{% endif %}
		</section>
	</main>
{% endblock %}
