{% extends 'base.html.twig' %}

{% block title %} - Registro{% endblock %}

{% block body %}
	<main>
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>Registro</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.name) }}
		{{ form_row(registrationForm.phone) }}
		{{ form_row(registrationForm.plainPassword) }}
		<div>
			<label for="registrationForm.agreeTerms.vars.id">
				<a href="{{ path('app_terminos') }}" target="_blank">
					Acepto términos y condiciones
				</a>
			</label>
			{{ form_widget(registrationForm.agreeTerms) }}
		</div>
		<div>
			<button type="submit" class="btn">Registrar</button>
		</div>
		<div>
			<section>
				<p>¿Ya tienes una cuenta?
					<a href="/login">Inicia sesión</a>
				</p>
			</section>
		</div>
		{{ form_end(registrationForm) }}
	</main>
{% endblock %}
