{# {% extends 'base.html.twig' %} #}

{% block body %}
	<section>
		<h2>Esta es la lista de reservas</h2>
		{% if reservas %}
			<table>
				<thead>
					<tr>
						<th>
							Nombre
						</th>
						<th>
							Email
						</th>
						<th>
							Teléfono
						</th>
						<th>
							Fecha
						</th>
						<th>
							Hora
						</th>
						<th>
							Comensales
						</th>
					</tr>
				</thead>
				<tbody>
					{% for reserva in reservas %}
                        <tr>
                            <td>
                                {{ reserva.user.name }}
                            </td>
                            <td>
                                {{ reserva.user.email }}
                            </td>
                            <td>
                                {{ reserva.user.phone }}
                            </td>
                            <td>
                                {{ reserva.fecha | date('d/m/Y') }}
                            </td>
                            <td>
                                {{ reserva.hora | date('H:i') }}
                            </td>
                            <td>
                                {{ reserva.comensales }}
                            </td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>

		{% else %}
			<p>No hay ninguna reserva</p>
		{% endif %}
	</section>
{% endblock %}
