{% extends 'base.html.twig' %}

{% block title %}
	- Admin (Reserva)
{% endblock %}

{% block body %}
	<main>
		<h1>Lista Reservas</h1>
		<button class="btn center-link">
			<a href="{{ path('app_admin_reserva_delete_old') }}">
				Borrar reservas antiguas
			</a>
		</button>
		{% for messages in app.flashes %}
			{% for message in messages %}
				<p style="text-align: center; color: green;">{{ message }}</p>
			{% endfor %}
		{% endfor %}
		<section class="reservas-list">
			{% if reservas %}
				{% for reserva in reservas %}
					<div class="r">
						<h3>
							Reserva nº
							{{reserva.id}}
						</h3>
						<h4>{{reserva.user.name}}</h4>
						<a href="mailto:{{reserva.user.email}}">{{reserva.user.email}}</a>
						<a href="tel:{{reserva.user.phone}}">{{reserva.user.phone}}</a>
						<p>{{reserva.fecha | format_datetime(pattern: 'EEEE, ', locale: "es")}}
							{{reserva.fecha | date('d/m/Y')}}
							a las
							{{ reserva.hora | date('H:i') }}
						</p>
						<p>{{reserva.comensales}}
							comensales</p>
						{% if reserva.confirmada %}
							<p>Confirmada ✅</p>
						{% else %}
							<button class="btn center-link">
								<a href="{{ path('app_admin_reserva_confirmar', {'id': reserva.id}) }}">Confirmar</a>
							</button>
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<p>No hay ninguna reserva</p>
			{% endif %}
		</section>
	</main>
{% endblock %}
