<header id="mainHeader">
	<a href="./">
		<img src="{{ asset('img/logo.png') }}" alt="logo" class="logo">
	</a>
	<button id="hbBtn">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<nav id="navMenu">
		<ul>
			<li>
				<a href="{{ path('app_index') }}" class="{{ app.request.attributes.get('_route') == 'app_index' ? 'active-link' : '' }}">
					INICIO
				</a>
			</li>
			<li>
				<a href="{{ path('app_carta') }}" class="{{ app.request.attributes.get('_route') == 'app_carta' ? 'active-link' : '' }}">CARTA</a>
			</li>
			<li>
				<a href="{{ path('app_reserva') }}" class="{{ app.request.attributes.get('_route') == 'app_reserva' ? 'active-link' : '' }}">RESERVA</a>
			</li>
			{% if app.user %}
				<li>
					<a class="emoji" href="{{ path('app_my_profile') }} ">
						{% include "/icons/person.html.twig" %}
					</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_login') }}" class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active-link' : '' }}">
						INICIAR SESIÓN
					</a>
				</li>
			{% endif %}

			{% if app.user %}
				{% if 'ROLE_ADMIN' in app.user.roles %}
					<li>
						<a href='{{ path('app_admin') }}' class="{{ app.request.attributes.get('_route') == 'app_admin' ? 'active-link' : '' }}">ADMIN</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</nav>
</header>
